{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
 <style type="text/css">
        @import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
        @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
        
        lead { font-family: 'Nanum Pen Script', cursive; }
        son { font-family: 'Jeju Hallasan', serif; }
      
    </style>
    <title>대학 소리꾼</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">
    
    <!-- dropdown CSS -->
    <link href="{% static 'vendor/bootstrap/css/drop_down.css' %}" rel="stylesheet">

    </head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <div class = "dropdowncss">
                <li class="nav-item active">
                    <ul><a class="nav-link" href="#">소식<span class="sr-only">(current)</span></a>
                    <dl class="submenu">
                        <dt class = "drop1">
                            <a class="nav-link" href = "sogae" >소개</a>
                        </dt>
                        <dt class = "drop2">
                            <a class="nav-link" href = "notice" >공지 사항</a>
                        </dt> 
                    </dl>
                      <!--      <a class="submenuLink longLink">안드로이드 앱 개발</a>-->
                    </ul>
                </li>
              
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="ranking">랭킹</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="uni_list">대학교 목록</a>
                </li>
                <a class="navbar-brand" href="https://practice-kl4314.c9users.io"><img src="{% static 'image/sorrgun-logo.png' %}"  width="350" height="100" ></a>
                <div class = "dropdowncss">
                    <li class="nav-item">
                        <ul><a class="nav-link" href="#">이벤트</a>
                            <dl class="submenu">
                                <dt class = "drop1">
                                    <a class="nav-link" href = "#" >아직 이벤트 기간이 아닙니다.</a>
                                </dt>
                            </dl>
                        </ul>
                    </li>
                </div>
              
                    <div class = "dropdowncss">
                            <li class="nav-item">
                                <ul><a class="nav-link" href="#">노래 부르기</a>
                                    <dl class="submenu">
                                        <dt class = "drop1">
                                            <a class="nav-link" href = "add_song" >내 노래 부르기</a>
                                        </dt>
                                        <dt class = "drop2">
                                            <a class="nav-link" href = "mysong" >내가 부른 노래 확인</a>
                                        </dt>
                                       <!-- <dt class = "drop3">
                                            <a class="nav-link" href = "#" >공지 사항</a>
                                        </dt>  -->
                                    </dl>
                               </ul>
                        </li>
                </div>
           
            </ul>
      
        </div>
    </nav>
<div style="background-image:url('{% static "image/login_make.JPG" %}'); background-position:right; background-size:cover;height:10%;">
    
<br><br><br><br>
<!--<div style="background-image:url('{% static "image/sogae_background.jpg" %}'); background-size:cover;height:65%">-->
    <!-- Page Content -->
   <div style="text-align:center">
        <div class="container">
   <table class="table table-bordered">
   
    <tbody>
        <form class="" action="logged" method="post">
            {% csrf_token %}
           
        <div class="row text-center">
            
                <table class = "beauti-table" border = "1"> 
              
                        <tr style="background-color:#166af9;color:white;">
                      
                            <th class = "notice_th_a">제목</th>
                            <td class="notice_th1_a"><input type="text"size="60"  style="background-color:#adcbf;height:30px;" placeholder="제목을 입력하세요. " name="youtubeurl" id = "exampleInputyoutubeurl"/></td>
                            
                        </tr>
                
          
                        <tr style="background-color:#adcbff;color:white;height:40px;">
             
                            <th class = "notice_th_a" style = "height:300px;size="70";">내용</th>
                            <td class="notice_th1_a" style = "height:40px;"><input type="text" placeholder="내용을 입력하세요 " name="content" id = "exampleInputcontent" size="60"  style="height:300px;" /></td>
                            
                        </tr>
                         <tr style="background-color:#adcbff;color:white;">
             
                              <th class = "notice_th_a">첨부파일</th>
                              <td class="notice_th1_a"><input type="text"size="60"  style="background-color:#adcbf;height:30px;" placeholder="파일을 선택하세요. " name="youtubeurl" id = "exampleInputyoutubeurl"/></td>
                          
                        </tr>
                     
                </table>
            
                
        </div>
        
        <script type="text/javascript">
    
    function check_input(){
    var input_title =document.getElementById("exampleInputtitle").value;
    var input_content=document.getElementById("exampleInputcontent").value;
    var input_youtubeurl=document.getElementById("exampleInputyoutubeurl").value;
    if(input_title == ""|| input_content == "" || input_youtubeurl == ""){
      alert("요소를 모두 입력해주세요 "); return false;
    }
   }
    
    </script>
        </form>
    </tbody>
    
    
</table>
</div>
</div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">

    
            <table><tr>
                <td bgcolor='#FF9900' width=100>
                    <b><img src="{% static 'image/chosun_likelion.jpg' %}" ></b>
                    <td bgcolor='#FF9900' width=100>
                        <div id="content" style="background-color:#FF9900;height:100px;width:700px;float:left;"><p class="m-0 text-center text-white" margin-top:50px;> <a href="http://chosun.likelion.org/"><span style="color:white">멋쟁이 사자처럼 조선대학교</span></a><br>
                        E-mail:  kl4314@likelion.org<br>
                        <a href="https://www.facebook.com/likelionchosun/?fref=ts!"><span style="color:white">페이스북</span></a><br>
                        Make with Team Shout,2017 Web service  &copy;<br><span style="color:white">-멋사 5기 손성호</span>  </p>
    </td>
                        </td></table>
    
    
    
    
    
    
    
    

              
             
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

</body>

</html>
